body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 500px;
}

fieldset {
    border: none;
}

h2 {
    text-align: center;
    color:black;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    margin-bottom: 1px;
    display: block;
    color: #555;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#btn{
    width: 100%;
    background-color:#03496c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#btn:hover {
    background-color: rgba(4, 4, 145, 0.7);
}

.option{
    font-family: Arial, sans-serif;
}