*{
    font-family: poppins ;
    color: rgb(10, 78, 109);
  }
  #form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Set max-width for responsiveness */
    width: 100%; /* Make it full width on smaller screens */
    text-align: center;
    margin: 0 auto; /* Center the container */
    margin-top: 10px;
  
  
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
  }
  
  .container h2 {
    margin-top: 20px;
  }
  
  .inputs {
    width: 100%;
  }
  
  label {
    display: block;
    /* margin-bottom: 10px; */
    font-size: 14px;
  
  
    text-align: left;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: -10px;
  }
  
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: -10px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
  
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  
  .button {
  
    border-radius: 4px;
    border: none;
  
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  .button {
    background-color: rgb(0, 163, 208); 
    margin-left: 100PX;
   
  
  
  }
  
  
  .button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  
  
  footer {
    margin-top: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 480px) {
    .container {
        padding: 20px; /* Adjust padding for smaller screens */
    }
  
    h2 {
        font-size: 20px; /* Decrease font size for headings */
    }
  
    input[type="password"],
    input[type="submit"] {
        font-size: 14px; /* Adjust font size for input fields */
    }
  }
  
  
  
  
  
  
  
  /* table css */
  
  body{
      background-color: #ebebeb98;  
      font-family: poppins;
  
  }
  
  
  .table {
      font-family: poppins;
      border-collapse: collapse;
      width: 100%;
     margin-left: auto;
     margin-right: auto;
     border: 4px solid rgb(10, 78, 109);
    }
    
  
  #table-container{
    margin-bottom: 0px;
    width: 100%;
    
  }
  
    .table td, th {
      border: 1px solid #e5e9eb;
      padding: 15px;
      padding-right: 10px;
      height: 30px;
  
    }

  
  
    .table tr:nth-child(even){background-color: #f2f2f2;}
    
    .table tr:hover {background-color: #ddd;}
    
    .table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: rgb(10, 78, 109);;
      color: white;
    }
    /* buttons */
  
    .button {
  
      border-radius: 4px;
      border: none;
  
      padding: 5px 12px;
      text-align: center;
      text-decoration: none;
      /* display: inline-block; */
      font-size: 16px;
      margin: 4px 2px;
      /* transition-duration: 0.4s; */
      cursor: pointer;
    }
  
  
  
  #btn , #btn1 {
      background-color: rgb(0, 163, 208); 
      color: rgb(255, 255, 255); 
    
    }
  
  
    #btn:hover {
      background-color: #ffffff;
      color: rgb(10, 78, 109);
    }
    
  
  
    #btn2 {
      background-color: rgb(208, 0, 0); 
      color: rgb(255, 255, 255); 
    
    }
  
    /* #btn2:hover {
      background-color: #ffffff;
      color: rgb(10, 78, 109);
    } */
  
  
  #btn1:hover , #btn:hover ,  #btn2:hover  {
      background-color:rgb(10, 78, 109);
      color: rgb(255,255,255);
  }