body{

    background-color: rgb(255, 255, 255);
    justify-content: center;
}
.dashboard{
    
    padding-top: 20px;
    width: 100%;
    height: 80px;
    margin: auto;
    background-color:#03496c;
    text-align: center;
    color: white;
   
}
.side{
    text-align:right;
    margin-top: 20px;
    margin-right: 10px;
    justify-content: end;
    text-align: right;
    color: #03496c;
    font-family: poppins;
    font-weight: 300;
}
.card{

    display: flex;
    margin-right: 20px;
    width: 600px;
}

/* #date{
   text-align:right;
  
   margin-right: 10px;
}
#greet{
    margin-top: 20px;
    text-align: left;
    width: fit-content;
    margin-left: 10px;
    justify-content: end;
} */
.side_bar{

   color: white;
   padding: 24px; 
   padding-left: 20px;
   box-shadow:rgb(166, 195, 209);
   background-color: #03496c;
   border: 1px solid #ccc;
   width: 500px;
   height: 700px;
   margin-top: -73px;

}

.img {
    margin-right:0px;
    margin-left: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

/* .side_bar img{

 width: 80px;
 height: 80px;
 margin-left: 120px;
 border-radius: 50%;
 padding-right:0px ;

} */


.side_bar a {
    text-decoration: none;
    color: white;
   
}
.list li{

    text-decoration: none;
    padding-top: 20px;
}
.side_bar button{
    
    background-color: rgb(0, 163, 208); 
    border: none;              
    color: rgb(255, 255, 255);             
    padding: 10px 20px;        
    text-align: center;        
    text-decoration: none;    
    display: inline-block;     
    font-size: 16px;           
    border-radius: 30px;     
    margin-top: 10px;   
    margin-left: 40px;
    

}

.logout  {
    margin-left: 60px;
}




.side_bar button:hover{

    background-color:#f80c0c ;
}
#username{

    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
#activated_plans , #make_claim, #pay {

    width: 350px ;
    height: 350px;
    /* background-color: rgba(245, 248, 250, 0.862); */
    border-radius: 30px;
    box-shadow: 0px 5px 5px rgba(48, 48, 48, 0.231);
    cursor: pointer;
    /* background-color: rgb(0, 163, 185);; */
    text-align: center;
    padding-top: 30px;
    margin: 20px;
    text-decoration: none;

    background-color: #ebebeb98; 
    /* border-radius: 10px; */
    box-shadow: 5px 5px 5px rgba(21, 21, 21, 0.516);
   

}

.container img{
align-items: center;
    height: 50px;
    width: 50px;
    text-align: center;
}
.container{

    display:flex;
    margin: 100px;
   color:#03496c;
   font-weight: 500;
    
}


.box{
    height: 700px;
     color: inherit; /* Ensures the text inside inherits the normal styling */
}

.box a {
    text-decoration: none;
    color: inherit; /* Ensures the text inside inherits the normal styling */
}

#activated_plans:hover  , #make_claim:hover , #pay:hover {
   
     
    background-color: #03496c;
    color: #ffffff;
     
}

 .box:hover img{
    filter: brightness(0) saturate(100%) invert(98%) sepia(98%) saturate(0%) hue-rotate(327deg) brightness(104%) contrast(101%);
}